mixin navDropdown(navDropdownId='navbar-dropdown', catalog, dropdownItems)
  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(id=navDropdownId href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title=catelog)=catalog
    .dropdown-menu(aria-labelledby=navDropdownId)
      each href, name in dropdownItems
        a.dropdown-item(href=href title=name)=name

mixin navDropdownSplit(navDropdownId='navbar-dropdown', catalog, catalogBasename, dropdownItems)
  li.nav-item.btn-group.flex.wrap.J-ctr
    a.nav-link.py-l-5(href=`./${catalogBasename}.html` role='button' class={ active: basename===catalogBasename })=catalog
    a.dropdown-toggle.dropdown-toggle-split(id=navDropdownId href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' title=catelog)
    .dropdown-menu(aria-labelledby=navDropdownId)
      each href, name in dropdownItems
        a.dropdown-item(href=href title=name)=name
mixin logo(textContent, brand)
  a.block.t-tertiary(href='./index.html' class={'navbar-brand': brand} title=textContent)=textContent
    //- img.logo(src=require('./img/logo.png') title=textContent alt=textContent width='180' height='40' loading='eager')

header.fxd-strch.top-0
  nav.navbar.navbar-expand-l.navbar-dark
    .container.J-between
      if headerH1
        h1.navbar-brand
          +logo(title)
      else
        +logo(title, !headerH1)

      button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#mobile-menu' aria-controls='mobile-menu' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #mobile-menu.navbar-collapse.collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='./index.html#sec-team' title='Link' class={ active: basename==='Link' })=ctx.team2
          li.nav-item
            a.nav-link(href='./index.html#sec-publication' title='Link' class={ active: basename==='Link' })=ctx.publication3
          li.nav-item
            a.nav-link(href='./index.html#sec-plan' title='Link' class={ active: basename==='Link' })=ctx.plan
          li.nav-item
            a.nav-link(href='./index.html#sec-contact' title='Link' class={ active: basename==='Link' })=ctx.contact16
          if locale === 'zh'
            li.nav-item
              a.nav-link(href='../en/index.html' title='Link' class={ active: basename==='Link' }) EN
          if locale === 'en'
            li.nav-item
              a.nav-link(href='../zh/index.html' title='Link' class={ active: basename==='Link' }) 中文
          //- +navDropdown('navbar-dropdown', '選單1', {
          //-   '系統排列':'index.html',
          //-   '團隊陣容':'page.html',
          //-   '文章':'page.html',
          //- })